<article class="flex w-full max-w-xl bg-white shadow-sm rounded-lg">
  <span
    class="flex shrink-0 items-center justify-center rounded-l-md bg-gray-100 size-40"
    aria-hidden="true"
  >
    <%= render Global::FaIcon.new(icon_class, style: :solid, css_classes: 'text-[50px] text-gray-800') %>
  </span>

  <div class="flex flex-col justify-between mx-4 my-2">
    <div>
      <p class="text-[14px] !m-0"<% if heading_level.present? %> role="heading" aria-level="<%= heading_level %>"<% end %>><%= title %></p> <!-- text-sm -->
      <p class="text-[18px] font-semibold"><%= value %></p> <!-- text-lg -->
    </div>

    <% if more_details? %>
      <%= link_to more_details_url, class: 'inline-flex items-center gap-1 rounded-sm text-primary-500 hover:text-primary-600 !no-underline' do %> <!-- no-underline -->
        <span
          class="inline-flex shrink-0 items-center justify-center rounded-full bg-primary-500 text-white size-6"
          aria-hidden="true"
        >
          <%= render Global::FaIcon.new('arrow-right', style: :solid, css_classes: 'fa-2xs') %>
        </span>
        <span class="text-[14px]"><%= t('admin.dashboard.show.more_details') %></span> <!-- text-sm -->
      <% end %>
    <% end %>
  </div>
</article>
