<% if title.present? %>
  <h3 class="h3"><%= title %></h3>
<% end %>

<% if rows.any? %>
  <div class="overflow-x-auto">
    <table class="w-auto min-w-full" aria-label="<%= title %>">
      <thead>
        <tr>
          <% headers.each do |header| %>
            <th class="p-2.5 text-left border-b-2 border-gray-300" scope="col"><%= header %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% rows.each do |row| %>
          <tr class="odd:bg-gray-50">
            <% row.keys.each do |key| %>
              <td class="p-2.5 leading-snug border-t border-gray-300"><%= value_for(row, key) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <% if caption.present? %>
        <caption class="p-2.5 text-xs text-gray-600 italic caption-bottom">
          <%= caption %>
        </caption>
      <% end %>
    </table>
  </div>
<% else %>
  <%= render State::Empty.new(t('global.no_data_message'), size: :compact, align: :left) %>
<% end %>
