<% if title.present? %>
  <h3><%= title %></h3>
<% end %>

<% if data.any? %>
  <div class="overflow-x-auto">
    <table class="w-auto min-w-full" aria-label="<%= title %>">
      <thead>
        <tr>
          <% headers.each do |header| %>
            <th class="p-2.5 text-left whitespace-nowrap border-b-2 border-gray-300" scope="col"><%= header %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% data.each do |row| %>
          <tr class="odd:bg-gray-50">
            <% row.each_value do |cell| %>
              <td class="p-2.5 leading-snug border-t border-gray-300"><%= sanitize(cell.to_s) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= render State::Empty.new(t('global.no_data_message'), size: :compact, align: :left) %>
<% end %>
